span{
    font-size: 20px;
}

body{
    font-family: "Raleway", sans-serife;
}


#recipe-of-the-day-gulasch{
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    margin-bottom: 80px;
    padding-left: 10%;
    padding-right: 10%;
}

#recipe-ingredients-gulasch{
    padding-left: 10%;
    padding-right: 10%;
}

#zubereitung-gulasch{
    padding-bottom: 100px;
}
.img-gulasch{
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.button {
   background-color: #008000;
    color: white;
    padding: 12px 40px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    border-width: 0px;
}

.time-difficult-date-btn {
    background-color: rgba(216, 215, 215, 0.61);
    color: black;
    padding: 4px 8px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: text;
    border-radius: 4px;
    border-width: 0px;
}

.time-btn {
    background-color: rgba(216, 215, 215, 0.61);
    color: black;
    padding: 4px 8px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: text;
    border-radius: 4px;
    border-width: 0px;
}

.input-ingredients {
    width: 160px;
    height: 36px;
    font-size: 16px;
    margin-left: 10px;
    margin-right: 0px;
}

#recipe-ingredients {
    margin-left: 10%;
    margin-right: 10%;
}

#recipe-details {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-left: 10%;
    margin-right: 10%;
}

.mobile-time-difficult-date-btn {
    padding-top: 25px;
    display: flex;
}

.padding-right-20px {
    padding-right: 20px;
}

.icons-time-difficult-date {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

.caption { 
    padding-top: 20px;
    padding-bottom: 20px;
}


.small-grey-border {
    background-color:  #ECECEC;
    height: 1px;
    width: 80%;
}

.small-grey-border-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 10px;
}

.button {
   background-color: #008000;
    color: white;
    padding: 12px 40px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    border-width: 0px;
}

.button:hover{
    cursor: pointer;
    background-color: #06b806;
}
.input-ingredients{
    width: 160px;
    height: 36px;
    font-size: 16px;
    margin-left: 10px;
    margin-right: 0px;
}


.table-ingredients {
    padding-top: 40px;
    border-collapse: separate;
    border-spacing: 0px 0px;
    width: 100%;
    padding-bottom: 40px;
}

.white-row {
    background-color: rgb(255, 255, 255);
    height: 60px;
}

.grey-row {
    background-color: #EFEFEF;
    height: 60px;
}

.padding-bottom-top{
    padding-bottom: 15px;
    padding-top: 15px;
}
.img-author{
    width: 100px;
    height: 100px;
    border-radius: 50%;

}

.author-recept-container {
    display: flex;
    align-items: center;
    gap: 24px;
}
p{
    font-size: 24px;
}

.logo_header_small{
    padding-left: 40px; 
    padding-top: 40px;
    height: 50px;   
    width: 50px;
}
    


@media(max-width: 1400px){

    .navbutton{
        font-size: 18px !important;
    }

    .logo_header{
        height: 90px !important
    }
}

@media(max-width: 1200px){
    .logo_header{
        display: none !important;
    }

    .logo_header_small{
        display: block !important;
    }
}
