button {
    background-color: green;
    color: white;
    border: none;
    height: 32px;
    width: 120px;
    font-size: 16px;
}

table {
    border-collapse: collapse;
    width: 1000px;
}


tr {
    padding: 32px;
}

.headline {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 120px;
}

#cheese {
    width: 800px;
    height: 400px;
}

.recipe {
    padding: 0px 128px;
}

.math {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}

.items {
    
}

.tr_grey {
    background-color: lightgray;
    
}

.portion_size {
    width: 32px;
    padding: 24px 0px 24px 24px;
}

.product_description {
    padding: 24px 24px 24px 0px;
}
    

.step {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 128px 0px 128px;
}

.step h2 {
    text-align: center;
}

.time {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
    
}

.cook_time {
    background-color: lightgray;
    padding: 8px;
    margin-right: 16px;
}

.all_time {
    background-color: lightgray;
    padding: 8px;
}

.user {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 120px 120px 120px;
}
.pro {
    display: flex;
    justify-content: space-evenly;
}

.profile {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}