body{
    margin: 0;
    padding: 0;
}
.header{
    display: flex;
    height: 128px;
    width: 100%;
    justify-content: space-between;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    font-family: raleway;
} 
.vh-10{
    padding-right: 10vh;
}

.logo_header{
    margin-left: 10vh;
    display: flex;
    height: 112px;
    margin-top: 12px;
}

.navigation{
    display: flex;
    gap: 20px;
    height: fit-content;
    margin-top: 88px;
    
}

.navbutton{
    background: none;
    border: none;
    font-size: 24px;
    height: fit-content;
    color: black;
    text-decoration: none;
}  

.navbutton:hover{
    color: #008000;
    text-decoration: underline;
    text-underline-offset: 16px;
    cursor: pointer;
    text-decoration-thickness: 4px;
}
.header-logo-small{
    height: 50px;
    width: 50px;
    margin-left: 4vh;
    margin-top: 25px;
    display: none;
}

@media(max-width: 1400px){

    .navbutton{
        font-size: 18px !important;
    }

    .logo_header{
        height: 90px !important
    }
}
@media(max-width: 1000px){
    .logo_header{
        display: none;
    }

    .header-logo-small{
        display: block;
    }

    .vh-10{
        padding-right: 8vh;
    }
}

@media(max-width:700px){
  .header-logo-small{
        height: 40px;
        width: 40px;
    }
    .navbutton{
        font-size: 16px !important;
    }
    
     .vh-10{
        padding-right: 6vh;
 
 
    }
}
@media(max-width:550px){
    .header-logo-small{
        height: 30px;
        width: 30px;
        margin-left: 1vh;
        margin-top: 50px;
    }

    .navigation{
        gap: 10px;
    }

        .vh-10{
        padding-right: 4vh;
 
 
    }
}

@media(max-width: 500px){
    .header-logo-small{
        display: none;
    }
    .header{
        padding: 0;
        margin: 0;
        justify-content: center;
    }
    

}