aaabody{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    min-height: 100vh;
    font-family: raleway;
}

h1{
    font-size: 24px;
}

p{
    font-size: 18px;
}


.kontakt_feld{
    height: fit-content;
    background-color: #DCDCDC;
    display: flex;
    flex-direction: column;
    border-radius: 4%;
    padding: 20px;
    margin: auto;
    width: 420px;
}




.abschicken{
     
    background-color: #008000;
    color: white;
    border: none;
    height: 48px;
    font-size: 16px;
}

.abschicken:hover{
    cursor: pointer;
    background-color: #06b806;
}

.margin_bottom_0{
    margin-bottom: 0;
}





.basic_style{
    border: none;
    border-radius: 8px;
    margin-bottom: 0;
    height: 24px;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 24px;
    padding: 6px;
}

.deine_nachricht_height{
    height: 180px;
}