body {
	color: black;
	margin: 0;
	font-family: 'Raleway', sans-serif;
}

h2 {
	font-size: 28px;
	font-weight: 600;
	margin: 0;
}

h3 {
	font-size: 18px;
	font-weight: 600;
}

p {
	font-size: 18px;
}

header {
	height: 8vh;
}

#lust-auf-was-neues {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 32px;
	padding-left: 128px;
	padding-right: 128px;
	padding-top: 32px;
	padding-bottom: 100px;
	background-color: #efefef;
}

#img-container {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

#img-container img {
	width: 256px;
	height: 256px;
	object-fit: cover;
	border-radius: 12px;
}

.img-recipe-of-the-day-da {
    width: 500px;
    height: 300px;
    border-radius: 12px;
	object-fit: cover;
}

.button {
    background-color: #008000;
    color: white;
    padding: 12px 40px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    border-width: 0px;
}

.container-recipe-of-the-day-da {
    display: flex;
    gap: 40px;
    margin-top: 80px;
    margin-bottom: 80px;
    padding-left: 128px;
	padding-right: 128px;
}

.p-lasagne-info {
    padding-bottom: 40px;
}
