body {
  font-family: 'Raleway', raleway, sans-serif;
}

h1 {
  font-size: 40px;
  font-weight: 600;
  margin: 0;
}

main {
  padding: 0px 128px;
}

#heading {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 64px 0px;
}

#header-img {
  object-fit: cover;
  width: 100%;
  height: 312px;
  border-radius: 16px;
}

.time-container {
  display: flex;
  align-items: center;
  gap: 12px;
  background-color: #efefef;
  width: fit-content;
  padding: 4px;
  border-radius: 8px;
}

.time-container-img {
  width: 16px;
  height: 16px;
}

.time-container p {
  margin: 0;
}

#time-and-date {
  display: flex;
  gap: 24px;
}

#zutaten {
  padding-bottom: 64px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

#zutaten button,
input,
p {
  margin: 0;
  padding: 0;
}

#zutaten p {
  padding-right: 8px;
}

#zutaten input {
  padding: 8px 24px;
  border: 1px solid #efefef;
}

#zutaten button {
  background-color: #008000;
  color: white;
  border: 1px solid #008000;
  padding: 8px 28px;
  cursor: pointer;
}

#portion-container {
  display: flex;
  align-items: center;
}

.portion-size {
  width: 12px;
  padding: 12px;
}

table {
  border-collapse: collapse;
}

.row-1 {
  background-color: #efefef;
}

#zubereitung {
  padding-bottom: 64px;
  flex-direction: column;
}

#zubereitung h2 {
  padding-bottom: 24px;
}

#container-for-time {
  display: flex;
  gap: 12px;
  background-color: #efefef;
  width: fit-content;
  padding: 8px;
  border-radius: 8px;
}

#zubereitung-container {
  padding-top: 24px;
}

@media (max-width: 700px) {
  #heading h1 {
    font-size: 24px;
  }

  main {
    padding: 0px 64px;
  }
}

@media (max-width: 500px) {
  #time-and-date {
    flex-direction: column;
    align-items: center;
  }

  #header-img {
    height: 212px;
  }
}

@media (max-width: 440px) {
  #heading {
    text-align: center;
  }
  #portion-container {
    flex-direction: column;
    gap: 12px;
  }

  td {
    font-size: 12px;
  }
}

#made-by {
  padding-bottom: 64px;
}

#made-by img {
  width: 256px;
  border-radius: 50%;
}

#made-by-picture-and-name {
  display: flex;
  align-items: center;
  gap: 32px;
  padding-top: 32px;
}

#made-by-picture-and-name h3 {
  font-weight: 500;
  font-size: 32px;
}

@media (max-width: 700px) {
  #made-by-picture-and-name {
    flex-direction: column;
  }
}

@media (max-width: 435px) {
  #made-by {
    text-align: center;
  }

  #made-by img {
    width: 212px;
  }

  #made-by-picture-and-name h3 {
    font-size: 24px;
  }
}
