
html {
    scroll-behavior: smooth;
}

.mybody {
    margin: 0px;
    font-weight: normal;
    font-size: 20px;
    object-fit: cover;
    font-family: 'Raleway', sans-serif;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10%;
    padding-top: 100px;
    padding-right: 10%;
    font-size: 24px;
    padding-bottom: 0px;
}

.img-logo-png {
    width: 280px;
    object-fit: contain;
    display: block;
}


.nav-links {
    padding-top: 80px;
    display: flex;
    list-style: none;
    gap: 20px;
    margin: 8px;
}

.nav-links a {
    text-decoration: none;
    color: black;
    border-bottom: 4px solid transparent;
    padding-bottom: 4px;
}

.nav-links a:hover {
    border-bottom: 4px solid #008000;
    color: #008000;
}

.grey-border {
    background-color: #E7E7E7;
    box-shadow: 10px 3px 5px 0px rgba(0, 0, 0, 0.3);
    height: 2px;
    width: 100%;
    margin-top: 0px;
}

.image-lasagne {
    width: 100%;
    height: 400px;
    object-fit: cover;
}



.small-grey-border {
    background-color:  #ECECEC;
    height: 1px;
    width: 80%;
}

.small-grey-border-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 10px;
}


h1 {
    font-size: 64px;
    font-weight: bold;
    margin-top: 60px;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
}

#recipe-of-the-day {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 80px;
    margin-bottom: 80px;
}

#recipe-of-the-day-container {
    width: 100vh;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#text-recipe-of-the-day {
    margin-left: 40px;
}

.button {
   background-color: #008000;
    color: white;
    padding: 12px 40px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    border-width: 0px;
}

.time-difficult-date-btn {
    background-color: rgba(216, 215, 215, 0.61);
    color: black;
    padding: 4px 8px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: text;
    border-radius: 4px;
    border-width: 0px;
}

.time-btn {
    background-color: rgba(216, 215, 215, 0.61);
    color: black;
    padding: 4px 8px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: text;
    border-radius: 4px;
    border-width: 0px;
}

.input-ingredients {
    width: 160px;
    height: 36px;
    font-size: 16px;
    margin-left: 10px;
    margin-right: 0px;
}

#recipe-ingredients {
    margin-left: 10%;
    margin-right: 10%;
}

#recipe-details {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-left: 10%;
    margin-right: 10%;
}

.mobile-time-difficult-date-btn {
    padding-top: 25px;
    display: flex;
}

.padding-right-20px {
    padding-right: 20px;
}

.icons-time-difficult-date {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

.caption { 
    padding-top: 20px;
    padding-bottom: 20px;
}


.table-ingredients {
    border-collapse: separate;
    border-spacing: 0px 0px;
    width: 100%;
}

.white-row {
    background-color: rgb(255, 255, 255);
    height: 60px;
}

.grey-row {
    background-color: #EFEFEF;
    height: 60px;
}

.td-padding {
    padding-left: 20px;
    width: 200px;
}

.white-row td:first-child,
.grey-row td:first-child {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.white-row td:last-child,
.grey-row td:last-child {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

#preparation {
    margin-left: 10%;
}

.font-light {
    font-weight: lighter;
    font-size: 12px;
    margin-top: 4px;
    margin-bottom: 0px;
}

.preparation-container {
    margin-top: 40px;
    margin-left: 10%;
    margin-right: 10%;
}

.mobile-preparation-btn {
    display: flex;
    gap: 20px;
}

#author-recept {
    margin-top: 60px;
    margin-left: 10%;
    margin-bottom: 80px;
}

.author-recept-container {
    display: flex;
    align-items: center;
    gap: 24px;
}

.author-recept-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.p-size-bigger {
    font-size: 24px;
}

.footer-container {
    background-color: #403B3B;
    height: 200px;
    width: 100%;
}

.image-lasagne {
    width: 100%;
    height: 200px;
}

.img-small-logo-png {
    display: none;
}

@media (max-width: 1080px) {
    .nav-links {
        font-size: 20px;
        padding-left: 0px;
    }

    .img-logo-png {
    width: 240px;
    object-fit: contain;
    padding-top: 40px;
}


}

@media (max-width: 900px) {
    .header-container {
        padding-left: 10%;
        padding-right: 10%;
    }

    .nav-links {
        gap: 14px;
        font-size: 16px;
    }

    .img-logo-png {
    width: 200px;
    object-fit: contain;
}


    .mybody {
        font-size: 16px;
    }
}

@media (max-width: 705px) {
    .header-container {
        padding-left: 10%;
        padding-right: 10%;
    }

    .nav-links {
        gap: 12px;
        font-size: 14px;
    }

    .img-logo-png {
    width: 160px;
    object-fit: contain;
    padding-top: 60px;
}

    .mybody {
        font-size: 14px;
    }
}

@media (max-width: 600px) {

    .header-container {
        height: 60px;
    }

    .img-logo-png {
        display: none;
    }

    .img-small-logo-png {
        display: block;
        width: 80px;
        padding-bottom: 38px;
    }

    .image-lasagne {
        height: 150px;
    }
    

    .nav-links {
        gap: 10px;
        display: flex;
        flex-direction: column;
        padding-bottom: 118px;
    }

    .padding-right-20px {
        padding-right: 0px;
    }


    h1 {
        font-size: 36px;
        margin-top: 40px;
    }

    .mybody {
        font-size: 16px;
    }

    .p {
        font-size: 14px;
    }

    .mobile-h2 {
        display: flex;
        justify-content: center;
    }

    .mobile-preparation-btn {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    #recipe-details {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .time-btn {
        width: 240px;
    }

    .input-ingredients {
        width: 60px;
        margin-left: 2px;
    }

    .button {
        width: 100px;
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    .time-difficult-date-btn {
        font-size: 14px;
        width: 96px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mobile-time-difficult-date-btn {
        display: flex;
        flex-direction: space-between;
        gap: 4px;
    }

    .td-padding {
        width: 80px;
    }

    #preparation {
        margin-right: 10%;
    }
}



